@import "../settings";

.backbutton {
  $size: 30px;

  background: url(/images/chevron-left.svg) 35% 50% no-repeat;
  background-size: 60%;
  border: 1px solid;
  border-radius: $size / 2;
  cursor: pointer;

  height: $size;
  text-indent: -9999px;
  width: $size;


  &:hover {
    background-color: $color-gray-light;
  }
}
